@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:wght@100..900&display=swap');

:root {
    --primary-color: #FFD700;
    --text-color: #FFFFFF;
    --bg-color: #000000;
    --heading-color: #FFFFFF88;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    color: var(--primary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover,
a.active {
    color: var(--primary-color);
}

html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
    /* Enable smooth scrolling */
    font-size: calc(6px + 0.9vh);
}

body {
    font-family: 'Albert Sans', sans-serif;
    background-color: var(--bg-color);
    color: var(--text-color);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;
}

header {
    padding: 1rem;
    position: fixed;
    background-color: var(--bg-color);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 10;
}

ul ul {
    list-style-type: disc;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0 2rem;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style-type: none;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    transition: color 0.3s ease;
    align-content: center;
}

nav a:hover,
nav a.active {
    color: var(--primary-color);
}

.social-icons a {
    margin-left: 0rem;
    padding: 1rem;
}

main {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    scroll-snap-type: y mandatory;
    /* Enable scroll snapping on the y-axis */
    scroll-behavior: smooth;
    scrollbar-width: none;
    /* For Firefox */
    overflow-y: scroll;
    overflow-x: hidden;
    width: 100%;
    height: 100vh;
}

main::-webkit-scrollbar {
    display: none;
    /* For Chrome, Safari, and Opera */
}

.content {
    justify-content: center;
    padding: 8% 18%;
}

h1 {
    font-size: 4rem;
    color: var(--primary-color);
    margin-bottom: 0rem;
    line-height: 1.1;
}

h2 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

h3 {
    color: var(--heading-color);
    font-size: 2.5rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.info p {
    margin-bottom: 0.2rem;
}

section {
    background-color: #000000;
    position: relative;
    scroll-snap-align: start;
    /* Align each section to the start */
    height: 100vh;
    width: 100vw;
    padding: 6rem calc(40vw - 25vh);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Align content to top */
    overflow: visible;
    transition: transform 0.6s ease-out;
    /* Ensure smooth transition */
}

section:last-child {
    position: relative;
}

/* Ensure the main article takes full height */
article {
    height: 100%;
}

button {
    background-color: var(--primary-color);
    color: var(--bg-color);
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #FFF;
}

.download-button {
    background-color: var(--primary-color);
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.1s ease;
    z-index: 100;
    border-radius: 24px;
    float: right;
}

.download-button:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.download-button:active {
    transform: scale(0.98);
}

.index-desc {
    max-width: 50%;
    margin-top: 1rem;
}

.photo-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    overflow: hidden;
}

.profile-photo {
    max-width: 100%;
    max-height: 90vh;
    position: absolute;
    transform: translateX(54%) !important;
    bottom: 0;
    object-fit: contain;
}

.highlighted-list {
    list-style-type: none;
    margin-bottom: 2rem;
    padding: 0;
    display: block;
}

.contact-list {
    display: grid;
}

.highlighted-list li {
    display: block;
    margin-bottom: 0rem;
}

.highlighted-list a {
    color: var(--text-color);
    font-size: 1.5rem;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    gap: 0.5rem;
    display: inline-flex;
    padding: 8px 0 8px 0;
    --underline-origin: left;
    --underline-scale: 0;
    transition: all 0.6s ease-out;
}

.highlighted-list a::after {
    content: '';
    position: absolute;
    bottom: 0px;
    left: 0;
    width: 100%;
    border-radius: 2px;
    height: 2px;
    background-image: linear-gradient(to right, var(--primary-color) 75%, rgba(255, 215, 0, 0) 100%);
    transform-origin: var(--underline-origin);
    transform: scaleX(var(--underline-scale));
    transition: transform 0.3s ease;
}

.highlighted-list a img {
    vertical-align: middle;
    margin-right: 8px;
}

.highlighted-list a span {
    vertical-align: middle;
}

.highlighted-list a:hover {
    opacity: 1;
    letter-spacing: 1px;
}

.highlighted-list a:hover::after {
    transform: scaleX(1);
}

.highlighted-list a::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10px;
    right: -10px;
    bottom: 0;
    z-index: -1;
}



.highlight {
    color: var(--primary-color);
    font-weight: bold;
}

nav ul li>a {
    display: block;
    padding: 10px;
}

/* Submenu styles */
nav ul li>a {
    display: block;
    padding: 10px;
}

nav ul {
    display: flex;
    list-style-type: none;
    position: relative;
}

nav ul li {
    margin-left: 0rem;
    position: relative;
}

nav ul li.submenu {
    position: relative;
}

nav ul li.submenu:hover .submenu-items,
nav ul li.submenu.show .submenu-items {
    display: block;
}

nav ul .submenu-items {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--bg-color);
    list-style-type: none;
    padding: 0;
    margin: 0;
    border: 1px solid var(--primary-color);
    z-index: 1000;
    animation: fadeIn 0.5s ease-out forwards;
}

nav ul .submenu-items li {
    width: 240px;
    border-bottom: 1px solid var(--primary-color);
}

nav ul .submenu-items li a {
    display: block;
    padding: 10px;
    color: var(--text-color);
    text-decoration: none;
}

nav ul .submenu-items li a:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

/* Keyframes for fadeIn effect */
@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

/* Hide submenu with a delay */
nav ul li.submenu .submenu-items.hide {
    display: block;
    animation: fadeOut 0.5s ease-out forwards;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        transform: translateY(-10px);
    }
}

/* Add styles for the progress line */
#progress-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 1400px;
    height: 4px;
    box-sizing: border-box;
    margin: 0 calc(50vw - 700px);
}

#progress-bar {
    height: 100%;
    width: 0;
    background-color: #FFD700;
    transition: width 0.3s ease;
}

/* New styles for parallax images */
.parallax-image {
    position: absolute;
    will-change: transform;
    /* Optimize performance */
    transition: transform 0.3s ease-out 0.1s;
    /* Smooth transition */
}

.parallax-image.animate {
    opacity: 1;
    transition: opacity 0.5s ease-in-out, transform 0.1s ease-out;
}

li strong {
    display: block;
    margin-bottom: 0.2rem;
}

section#process-home-page ol.process-list {
    display: grid;
    grid-template-columns: 38% 58%;
    gap: 0 4%;
    /* Adjust the gap between columns as needed */
}

section#process-home-page .process-list li:nth-child(1),
section#process-home-page .process-list li:nth-child(2) {
    grid-column: 1;
}

section#process-home-page .process-list li:nth-child(3) {
    grid-column: 2;
    grid-row: 1;
}

section#process-home-page .process-list li:nth-child(4) {
    grid-column: 2;
    grid-row: 2;
}

.process-list li strong {
    display: block;
    margin-bottom: 0.5rem;
}

.process-list>li {
    margin-bottom: 1rem;
}

section#process-home-page .process-list ul {
    list-style: disc outside;
    margin-bottom: 1rem;
}

.impact-list li {
    margin-bottom: 1rem;
}

.margin-b-m {
    margin-bottom: 1rem;
}

.margin-b-s {
    margin-bottom: 0.5rem;
}

.conclusion-p {
    font-size: 1.3rem;
    font-weight: 300;
}

ul.no-marker {
    list-style-type: none;
}

ul.no-marker>li {
    margin-bottom: 1rem;
}

.navigation-container {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: stretch;
    padding: 0 calc(50vw - 700px);
    width: 100%;
    bottom: 0;
    left: 0;
    z-index: 1;
    text-shadow: none;
}

.navigation-block {
    position: relative;
    flex: 1;
    margin: 0;
    /* Add some margin for spacing */
}

.navigation-block a {
    display: block;
    color: inherit;
    padding: 2rem 4rem;
    text-decoration: none;
    transition: transform 0.6s ease;
}

.navigation-block.left {
    background-color: black;
    color: white;
    border-top: 1px inset grey;
    border-left: 1px inset grey;
}

.navigation-block.right {
    background-color: var(--primary-color);
    color: black;
}

.navigation-block .overline {
    font-size: 0.875rem;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    display: block;
}

.navigation-block .project-name {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.navigation-block .project-description {
    font-size: 1rem;
    line-height: 1.5;
}

.navigation-block .arrow-icon {
    position: absolute;
    width: 32px;
    height: 32px;
    top: 50%;
    opacity: 0%;
    transform: translateY(-50%);
    transition: all 0.3s ease-out 0.3s;
}

.navigation-block.left .arrow-icon {
    left: 36px;
}

.navigation-block.right .arrow-icon {
    right: 36px;
}

.navigation-block:hover .arrow-icon {
    opacity: 100%;
    transform: translateY(-50%) translateX(24px);
}

.navigation-block.left:hover .arrow-icon {
    opacity: 100%;
    transform: translateY(-50%) translateX(-24px);
}

.navigation-block.left:hover a {
    transform: translateX(10px);
}

.navigation-block.right:hover a {
    transform: translateX(-10px);
}

.reveal {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.reveal.visible {
    opacity: 1;
    transform: translateY(0);
}

.contact-container {
    text-align: left;
    background: var(--bg-color);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    width: 100%;
    margin: auto;
    color: var(--text-color);
}

.contact-container h1 {
    font-size: 8rem;
    text-transform: uppercase;
    line-height: 6rem;
    font-weight: 800;
    margin-bottom: 2rem;
    color: #333333;
}

.contact-item {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: left;
    color: var(--text-color);
}

.contact-item svg {
    margin-right: 10px;
    fill: var(--primary-color);
}

.contact-link {
    color: var(--primary-color);
    font-weight: 500;
    transition: color 0.3s ease;
}

.contact-link:hover {
    color: #ffd700cc;
}









/* Styles for the centered button section */
#prototype {
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centered-button {
    z-index: 9;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 48px;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: flex;
    align-items: center;
    gap: 12px;
}

.centered-button:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
    color: var(--bg-color);
}

.centered-image {
    position: absolute;
    transform-origin: center center;
    max-width: 100%;
    height: auto;
}

#ds-prot-img1 {
    bottom: -5%;
    right: 7%;
    width: 15%;
}

#ds-prot-img2 {
    top: 4%;
    left: 6%;
    width: 15%;
}

#ds-prot-img3 {
    bottom: 0%;
    left: 14%;
    width: 20%;
}

#ds-prot-img4 {
    bottom: -20%;
    left: 37%;
    width: 36%;
}

#ds-prot-img5 {
    top: 4%;
    right: 0%;
    width: 32%;
}

#ds-prot-img6 {
    top: 19%;
    right: 22%;
    width: 15%;
}

#ds-prot-img7 {
    bottom: -5%;
    left: 0%;
    width: 20%
}

#ds-prot-img8 {
    top: 10%;
    left: -5%;
    width: 16%;
}

#ds-prot-img9 {
    top: 1%;
    right: 41%;
    width: 16%;
}

#ds-prot-backglow {
    width: 80%;
}


/* Skills section */
.skill-bar {
    display: inline-flex;
    gap: 5px;
    align-items: center;
    height: fit-content;
}

.skill-item {
    margin-bottom: 24px;
    display: flex;
    gap: 12px;
    align-items: center;
}

.skills-section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.skills-title {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 40px;
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 18px;
    font-weight: 500;
    padding: 20px 0;
}

.skills-left,
.skills-right {
    width: 48%;
    min-width: 300px;
}

.skill-name {
    display: inline-flex;
}

/* Имитация «полосок» для оценки умений */
.bar-dot {
    width: 16px;
    height: 8px;
    border-radius: 3px;
    background-color: #5f5f5f;
    /* Серый по умолчанию */
}

.bar-dot.filled {
    background-color: #ffd000;
    /* Ярко-жёлтый */
}

/* Для удобства прописаны, чтобы явно указывать серые точки */
.bar-dot.grey {
    background-color: #5f5f5f;
}

/* Кружочки для «Leadership & Team Management» и т.д. */
.circle-item {
    display: flex;
    align-items: center;
    padding: 16px 0;
}

.circle {
    min-width: 16px;
    min-height: 16px;
    border-radius: 50%;
    background-color: #ffd000;
    margin-right: 10px;
}

/* Ensure the images scale proportionally */
@media (max-width: 768px) {
    .centered-image {
        width: auto;
        max-width: 50%;
        height: auto;
    }

    #img1 {
        top: 5%;
        left: 10%;
        width: 30%;
    }

    #img2 {
        top: 35%;
        right: 10%;
        width: 25%;
    }

    #img3 {
        bottom: 5%;
        left: 15%;
        width: 35%;
    }
}










/* Image styles */
img#thumbzone {
    right: -2%;
    top: 20%;
    width: 15%;
}

img#panel1 {
    left: 2%;
    bottom: -3%;
    width: 8%;
}

img#panel2 {
    left: 4%;
    bottom: 0%;
    width: 14%;
}

img#panel3 {
    left: 9%;
    bottom: 2%;
    width: 14%;
}

img#component {
    right: 20%;
    bottom: -7%;
    width: 35%;
}

img#ds-conc-phone1 {
    right: 2%;
    bottom: -3%;
    width: 15%;
}

img#ds-conc-phone2 {
    right: 8%;
    bottom: -8%;
    width: 15%;
}

img#ds-highlight-tokens {
    right: 0%;
    bottom: -8%;
    width: 60%;
}

img#ds-highlight-code {
    left: -1%;
    top: 20%;
    width: 10%;
}

img#hp-process {
    right: 5%;
    bottom: -5%;
    width: calc(40vh + 40vw);
}

img#hp-feat-banners {
    left: 8%;
    bottom: calc(-46% + 50vh);
    width: calc(17vh + 17vw);
}

img#hp-feat-banner2 {
    left: 2%;
    bottom: calc(-46% + 50vh);
    width: calc(18vh + 18vw);
}

img#hp-feat-phone1 {
    right: calc(-30% + 50vw);
    bottom: calc(-39% + 50vh);
    width: calc(10vh + 10vw);
}

img#hp-feat-phone2 {
    right: calc(-40% + 50vw);
    bottom: calc(-23% + 50vh);
    width: calc(10vh + 10vw);
}

img#hp-feat-search {
    left: 48%;
    bottom: 10%;
    width: calc(20vh + 20vw);
}

img#hp-conc-cell3 {
    left: 35%;
    bottom: 26%;
    width: calc(12vh + 12vw);
}

img#hp-conc-cell2 {
    left: 22%;
    bottom: 24%;
    width: calc(18vh + 18vw);
}

img#hp-conc-phone1 {
    right: calc(-45% + 50vw);
    bottom: -5%;
    width: calc(10vh + 10vw);
}

img#hp-conc-phone2 {
    left: -2%;
    bottom: -3%;
    width: 17%;
}

img#hp-conc-cell1 {
    left: 12%;
    bottom: 26%;
    width: calc(12vh + 12vw);
}

img#hp-conc-cell4 {
    right: 16%;
    bottom: 18%;
    width: calc(20vh + 10vw);
}

img#hp-conc-tick {
    right: calc(-31% + 50vw);
    bottom: 40%;
    width: 7%;
}

img#hp-conc-tick {
    right: calc(-31% + 50vw);
    bottom: 40%;
    width: 7%;
}


img#pg-ov-folder {
    left: -2%;
    top: 20%;
    width: calc(12vh + 12vw);
}

img#pg-ov-phone1 {
    right: 7%;
    top: 13%;
    width: calc(12vh + 12vw);
}

img#pg-ov-phone2 {
    right: 1%;
    top: 33%;
    width: calc(12vh + 12vw);
}

img#pg-proc-section1 {
    left: 2%;
    bottom: -2%;
    width: calc(30vh + 30vw);
}

img#pg-proc-section2 {
    right: -4%;
    bottom: 7%;
    width: calc(24vh + 24vw);
}

img#pg-proc-tip {
    right: 4%;
    bottom: calc(20rem + 7%);
    width: calc(12vh + 12vw);
}

img#pg-feat-cats {
    left: 20%;
    bottom: 10%;
    width: calc(15vh + 15vw);
}

img#pg-feat-phone1 {
    left: -2%;
    bottom: calc(-35% + 50vh);
    width: calc(10vh + 10vw);
}

img#pg-feat-phone2 {
    right: 15%;
    top: 30%;
    width: calc(10vh + 10vw);
}

img#pg-feat-phone3 {
    right: 5%;
    top: 20%;
    width: calc(10vh + 10vw);
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#pg-feat-phone4 {
    right: -5%;
    top: 10%;
    width: calc(10vh + 10vw);
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#service1 {
    left: 10%;
    bottom: 10%;
    border-radius: 1rem;
    width: 20vw;
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#service2 {
    left: calc(50% - 14vw);
    border-radius: 1rem;
    top: 22%;
    width: 25vw;
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#service3 {
    right: 10%;
    top: 15%;
    border-radius: 1rem;
    width: 25vw;
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#icons24 {
    left: -2%;
    bottom: 2%;
    width: calc(15vw + 15vh);
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#buttons {
    right: -7%;
    bottom: -6%;
    width: calc(20vw + 30vh);
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#icons12 {
    right: 17%;
    top: 7%;
    width: calc(4vw + 7vh);
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#icons32 {
    right: 5%;
    top: 20%;
    width: calc(5vw + 8vh);
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#atoms {
    left: calc(50% - 12.5vw);
    bottom: 5%;
    width: calc(9vw + 16vh);
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#version1 {
    left: 10%;
    top: 15%;
    width: 35vw;
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}

img#version2 {
    right: 10%;
    top: 15%;
    width: 35vw;
    -webkit-filter: drop-shadow(24px 32px 60px #00000088);
    filter: drop-shadow(24px 32px 60px #00000088);
}


#scrolling-images-section {
    position: relative;
    height: 100vh;
    width: 100vw;
    padding: 0 24rem;
    display: flex;
    align-items: center;
    scroll-snap-align: start;
    /* Keeps section aligned */
}

.images-container {
    display: flex;
    width: 100vw;
    gap: 10%;
    padding: 15vh 0;
    justify-content: center;
    overflow: hidden;
    align-items: flex-start;
}

.scrolling-image {
    width: 35%;
    height: auto;
    object-fit: cover;
    transition: transform 0.3s ease-out;
    position: relative;
}

.scrolling-image img {
    width: 100%;
}

.scroll-image-caption {
    position: absolute;
    background: var(--primary-color);
    color: black;
    font-size: 0.8rem;
    padding: 0.2rem 0.5rem;
    border-radius: 0.5rem;
    max-width: 16rem;
    box-shadow: 0px 8px 8px #00000022;
    text-shadow: none;
}

.scroll-image-caption#cap11 {
    left: -18%;
    bottom: 97%;
    width: 184px;
}

.scroll-image-caption#cap12 {
    right: -18%;
    bottom: 94%;
}

.scroll-image-caption#cap13 {
    left: -18%;
    bottom: 88%;
}

.scroll-image-caption#cap14 {
    left: -18%;
    bottom: 83%;
}

.scroll-image-caption#cap15 {
    left: -18%;
    bottom: 75%;
    width: 130px;
}


.scroll-image-caption#cap16 {
    right: -12%;
    bottom: 57%;
    width: 126px;
}


.scroll-image-caption#cap17 {
    left: -18%;
    bottom: 48%;
}


.scroll-image-caption#cap18 {
    left: -18%;
    bottom: 32%;
    width: 130px;
}

.scroll-image-caption#cap19 {
    right: -9%;
    bottom: 23%;
}



.scroll-image-caption#cap21 {
    right: -26%;
    bottom: 94%;
}

.scroll-image-caption#cap22 {
    right: -16%;
    bottom: 87%;
    width: 172px;
}

.scroll-image-caption#cap23 {
    left: -15%;
    bottom: 82%;
    width: 100px;
}

.scroll-image-caption#cap24 {
    left: -12%;
    bottom: 66%;
    width: 186px;
}

.scroll-image-caption#cap25 {
    right: -14%;
    bottom: 55%;
    width: 142px;
}

.scroll-image-caption#cap26 {
    right: -14%;
    bottom: 38%;
    width: 142px;
}

.scroll-image-caption#cap27 {
    right: -14%;
    bottom: 21%;
    width: 142px;
}

.index-page section>* {
    text-align: center;
}

.index-page section.content {
    text-align: center;
    align-items: center;
    gap: 2rem;
}

.scroll-image-caption#cap31 {
    left: 5%;
    bottom: 52%;
    width: 184px;
}

.scroll-image-caption#cap32 {
    left: calc(50% - 92px);
    bottom: 80%;
    width: 184px;
}

.scroll-image-caption#cap33 {
    right: 5%;
    bottom: 46%;
    width: 184px;
}









/* Menu Icon Styles */
.menu-icon {
    display: none;
}

.overlay {
    display: none;
}

#additional-information {
    padding-bottom: 4rem;
}

section>p,
section>h3,
section>h2,
section>div,
section>ul,
section h4 {
    z-index: 2;
    text-shadow:
        0px 0px 8px #00000088,
        -2px 0px 2px #00000088,
        2px 0px 2px #00000088,
        -2px 4px 2px #00000088,
        2px 4px 2px #00000088
}

section.narrow>* {
    max-width: 650px;
}

section.medium>* {
    max-width: 720px;
}

section img {
    z-index: 0;
}




.nav-left .submenu>a {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 0.5rem;
    color: #fff;
    opacity: 60%;
    transition: all 0.3s ease-in-out;
}

.nav-left .submenu>a:hover {
    opacity: 100%;
}

.profession-select {
    display: flex;
    align-items: center;
    gap: 1rem;
    width: 100%;
}

.header-right-container {
    width: 100%;
    align: left;
}

.main-screen {
    width: calc(12vw + 8vh);
    position: absolute;
    right: 15%;
}

.my-home {
    width: calc(13vw + 9vh);
    position: absolute;
    right: 5%;
}

.ds-components {
    width: 40vw;
    bottom: 10%;
    position: absolute;
    right: -3%;
}


/* Base styles for desktop (default) */

/* Styles for 1440px */
@media (max-width: 1440px) {
    .highlighted-list {
        grid-template-columns: 1fr 1fr;
    }

    .profile-photo {
        /* width: 70%; */
        height: auto;
        margin: 0 auto;
    }

    .index-desc {
        max-width: 65%;
    }

    #animatedText {
        font-size: 3rem;
    }

    img#hp-process {
        right: 6%;
        bottom: 0%;
        width: 75%;
    }

    #additional-information p {
        max-width: 40rem;
    }

    section {}
}

/* Styles for 1280px */
@media (max-width: 1280px) {
    main {
        flex-direction: column;
    }

    .photo-container {
        position: static;
        width: 100%;
        height: auto;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .profile-photo {
        max-height: 85vh;
        width: 56%;
    }

    img#component {
        right: -2rem;
        bottom: -3rem;
        width: 35%;
    }

    img#panel1 {
        left: 1%;
        bottom: -3%;
        width: 8%;
    }

    img#panel2 {
        left: 2%;
        bottom: 0%;
        width: 14%;
    }

    img#panel3 {
        left: 7%;
        bottom: 2%;
        width: 14%;
    }

    #ds-prot-img1 {
        bottom: -5%;
        right: 6%;
        width: 9%;
    }

    #ds-prot-img2 {
        top: 4%;
        left: 7%;
        width: 13%;
    }

    #ds-prot-img3 {
        bottom: 0%;
        left: 14%;
        width: 15%;
    }

    #ds-prot-img4 {
        bottom: -20%;
        left: 37%;
        width: 31%;
    }

    #ds-prot-img5 {
        top: 11%;
        right: 0%;
        width: 27%;
    }

    #ds-prot-img9 {
        top: 9%;
        right: 28%;
        width: 14%;
    }

    #ds-prot-img6 {
        top: 26%;
        right: 15%;
        width: 15%;
    }

    #ds-prot-img7 {
        bottom: -6%;
        left: 4%;
        width: 17%;
    }

    #ds-prot-img8 {
        top: 11%;
        left: -2%;
        width: 13%;
    }



    img#ds-conc-phone2 {
        right: 14%;
        bottom: -4rem;
        width: 15rem;
    }

    img#ds-conc-phone1 {
        right: 4%;
        bottom: 2rem;
        width: 15rem;
    }

    img#pg-proc-section1 {
        left: 4rem;
        bottom: -5rem;
        width: calc(30vh + 30vw);
    }

    img#pg-proc-section2 {
        right: -3rem;
        bottom: 2rem;
        width: calc(24vh + 24vw);
    }

    img#hp-process {
        right: 6%;
        bottom: -13%;
        width: 80%;
    }

    img#hp-feat-phone2 {
        right: calc(-48% + 50vw);
        bottom: calc(-23% + 50vh);
        width: calc(10vh + 10vw);
    }

    img#hp-feat-phone1 {
        right: calc(-38% + 50vw);
        bottom: calc(-39% + 50vh);
        width: calc(10vh + 10vw);
    }

    img#hp-feat-search {
        left: auto;
        right: 14%;
        bottom: 3%;
        width: calc(20vh + 20vw);
    }

    img#hp-feat-banner2 {
        left: -4%;
    }

    img#hp-feat-banners {
        left: 3%;
        bottom: calc(-46% + 50vh);
        width: calc(17vh + 17vw);
    }

    .content {
        justify-content: center;
        padding: 8% 18%;
    }

    /* section {
        padding: 6rem 6rem;
    } */
}

/* Tablet styles */
@media (max-width: 1024px) {
    header {
        padding: 1rem;
    }

    nav ul {
        gap: 1rem;
    }

    main {
        scroll-snap-type: none;
    }

    section {
        scroll-snap-align: start;
        min-height: auto;
        /* Ensures each section takes up at least the full viewport height */
        display: flex;
        flex-direction: column;
        justify-content: left;
        height: auto;
        /* padding: 6rem 6rem; */
    }

    section.contact-section {
        height: 100vh;
    }

    section#process {
        padding-bottom: 22%;
    }

    /* Home Page */
    #animatedText {
        font-size: 3rem;
    }

    .highlighted-list li {
        text-align: left;
    }

    .contact-container {
        padding: 0;
    }

    .profile-photo {
        width: 66%;
        transform: translateX(48%) !important;
        bottom: 0%;
        height: auto;
        margin: 0 auto;
    }

    .content {
        padding: 8% 12%;
        height: 100vh;
        justify-content: flex-start;
    }

    /* Resume */
    .experience h3,
    .experience h4,
    .experience ul {
        padding: 0;
    }

    /* Contact Page */
    .contact-list {
        grid-template-columns: 1fr 1fr;
        grid-gap: 1rem;
    }

    img#component {
        right: 0;
        bottom: -1%;
        width: 45%;
    }

    section#highlight {
        padding-bottom: 20rem;
    }

    img#ds-highlight-tokens {
        right: 0%;
        bottom: -4%;
        width: 85%;
    }

    section#process-home-page {
        padding-bottom: 20rem;
    }

    img#hp-process {
        right: 2%;
        bottom: 1%;
        width: 93%;
    }

    section#features-hp {
        padding-bottom: 24rem;
    }

    img#hp-feat-phone2 {
        right: 0rem;
        bottom: calc(-23% + 50vh);
        width: calc(10vh + 10vw);
    }

    img#hp-feat-phone1 {
        right: 5rem;
        bottom: calc(-35% + 50vh);
        width: calc(10vh + 10vw);
    }

    img#hp-feat-search {
        right: 7%;
        bottom: 6%;
    }

    img#hp-feat-banners {
        left: 2rem;
        bottom: calc(-42% + 50vh);
    }

    img#hp-feat-banner2 {
        left: -5rem;
        bottom: calc(-38% + 50vh);
    }

    img#hp-conc-phone1 {
        bottom: 2%;
    }

    img#hp-conc-phone2 {
        bottom: 6%;
    }

    .home-page section#conclusion {
        padding-bottom: 40%;
    }

    img#hp-conc-tick {
        right: calc(-30% + 50vw);
        bottom: 50%;
        width: 7%;
    }



    /* Animated Menu Icon Transformations */
    .menu-icon.open span:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .menu-icon.open span:nth-child(2) {
        transform: translateY(-8px) rotate(-45deg);
    }

    .menu-icon.open span:nth-child(3) {
        opacity: 0;
    }

    .contact-container h1 {
        font-size: 6rem;
        line-height: 5rem;
    }

    section#conclusion {
        padding-bottom: 50%;
    }

    #additional-information {
        padding-bottom: 35%;
    }


    img#pg-proc-section1 {
        left: 2%;
        bottom: 3%;
        width: calc(30vh + 30vw);
    }

    img#pg-proc-section2 {}

    img#pg-proc-tip {}

    img#pg-feat-cats {}

    img#pg-feat-phone1 {
        left: -1%;
    }

    img#pg-feat-phone2 {
        right: 13%;
        top: 30%;
        width: calc(9vh + 9vw);
    }

    img#pg-feat-phone3 {
        right: 4%;
        top: 20%;
        width: calc(9vh + 9vw);
    }

    img#pg-feat-phone4 {
        right: -5%;
        top: 10%;
        width: calc(9vh + 9vw);
    }

    img#pg-ov-folder {
        left: -10%;
        top: 20%;
        width: calc(8vh + 12vw);
    }

    .payment-groups-page section#conclusion {
        padding-bottom: 35%;
    }

    #process-payment-groups {
        padding-bottom: 35%;
    }

    #features-pg {
        padding-bottom: 20%;
    }


}

/* General mobile styles */
@media (max-width: 768px) {
    section {
        padding: 15% 11%;
    }

    section#process-home-page ol.process-list {
        display: grid;
        grid-template-columns: 35% 55%;
        gap: 0 10%;
    }

    .contact-list {
        display: block;
    }

    .contact-list li {
        font-size: 1.2rem;
    }

    .contact-list li a {
        padding-top: 12px;
        padding-bottom: 12px;
    }

    img#hp-feat-banners {
        left: 4%;
        bottom: 2%;
    }

    img#hp-feat-banner2 {
        left: -7%;
        bottom: 4%;
    }

    img#hp-feat-phone1 {
        right: 6%;
        bottom: 3%;
    }

    img#hp-feat-phone2 {
        right: 1%;
        bottom: 28%;
    }

    img#hp-feat-search {
        right: 7%;
        bottom: 4%;
    }

    img#hp-conc-phone1 {
        bottom: 8%;
    }

    img#hp-conc-phone2 {
        bottom: 11%;
        width: 20%;
    }

    img#hp-conc-cell1 {
        left: 12%;
        bottom: 32%;
        width: calc(14vh + 14vw);
    }

    img#hp-conc-cell2 {
        display: none;
    }

    img#hp-conc-cell4 {
        right: 22%;
        bottom: 26%;
        width: calc(20vh + 10vw);
    }

    img#hp-conc-tick {
        right: calc(-27% + 50vw);
        bottom: 45%;
        width: 12%;
    }

    .payment-groups-page section#overview {
        padding: 15% 11% 26rem;
    }

    img#pg-ov-folder {
        left: 11%;
        top: auto;
        bottom: 0%;
        width: calc(12vh + 12vw);
    }

    img#pg-ov-phone1 {
        right: 32%;
        ;
        top: auto;
        bottom: 0;
    }

    img#pg-ov-phone2 {
        right: 10%;
        top: auto;
        bottom: 2%;
    }

    section#process-payment-groups {
        padding-bottom: 42rem;
    }

    img#pg-proc-section1 {
        left: 2%;
        bottom: 28%;
        width: calc(35vh + 35vw);
    }

    img#pg-proc-section2 {
        right: 1%;
        bottom: 1%;
        width: calc(26vh + 26vw);
    }

    img#pg-proc-tip {
        left: 8%;
        right: auto;
        bottom: 18%;
        width: calc(12vh + 12vw);
    }

    section#features-pg {
        padding-bottom: 28rem;
    }

    img#pg-feat-cats {
        left: 12%;
        bottom: 26%;
    }

    img#pg-feat-phone1 {
        left: -2%;
        bottom: calc(-52% + 50vh);
        width: calc(8vh + 8vw);
    }

    img#pg-feat-phone2 {
        top: auto;
        bottom: 0%;
        right: 25%;
        width: calc(7vh + 7vw);
    }

    img#pg-feat-phone3 {
        top: auto;
        bottom: 10%;
        right: 14%;
        width: calc(7vh + 7vw);
    }

    img#pg-feat-phone4 {
        top: auto;
        bottom: 20%;
        right: 2%;
        width: calc(7vh + 7vw);
    }

    img#ds-conc-phone1 {
        right: 5%;
        bottom: 15%;
        width: 22%;
    }

    img#ds-conc-phone2 {
        right: 20%;
        bottom: 12%;
        width: 22%;
    }

    img#ds-highlight-code {
        display: none;
    }

    img#ds-highlight-tokens {
        width: 101%;
    }

    img#thumbzone {
        right: 0%;
        top: -10%;
        width: 25%;
    }

    section#process {
        padding-bottom: 22rem;
    }

    img#component {
        right: 0;
        bottom: 6%;
        width: 65%;
    }

    img#panel1 {
        left: 2%;
        bottom: 2%;
        width: 10%;
    }

    img#panel2 {
        left: 4%;
        bottom: 0%;
        width: 22%;
    }

    img#panel3 {
        left: 9%;
        bottom: 2%;
        width: 22%;
    }

    .profile-photo {
        width: 119%;
        max-width: none;
        transform: translateX(21%) !important;
        max-height: 90vh;
        bottom: 0%;
        height: auto;
        margin: 0 auto;
    }

    .content {
        padding: 8% 5%;
        height: 100vh;
        justify-content: center;
    }

    section#conclusion,
    .home-page section#conclusion,
    .payment-groups-page section#conclusion,
    .design-system-page section#conclusion {
        padding-bottom: 65%;
    }

    section#prototype {
        height: 50vh;
    }

    #ds-prot-backglow {
        width: 100%;
        max-width: none;
    }

    #additional-information {
        padding-bottom: 35%;
    }

    #ds-prot-img1,
    #ds-prot-img2,
    #ds-prot-img3,
    #ds-prot-img4,
    #ds-prot-img5,
    #ds-prot-img6,
    #ds-prot-img7,
    #ds-prot-img8,
    #ds-prot-img9 {
        display: none;
    }
}

@media (max-width: 440px) {

    body {
        padding: 0;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    nav {
        padding: 0;
    }

    nav ul {
        display: none;
    }

    h1 {
        font-size: 3rem;
    }

    h2 {
        font-size: 2rem;
    }

    .download-button {
        bottom: 10px;
        right: 10px;
        padding: 8px 16px;
        font-size: 0.9rem;
    }

    .content {
        padding: 8rem 1rem 0;
        justify-content: start;
    }

    .contact-container,
    .info,
    .experience,
    .highlighted-list {
        padding: 0;
    }

    section.contact-section {
        padding-bottom: 65%;
    }

    .highlighted-list {
        grid-template-columns: 1fr;
    }

    .profile-photo {
        display: none;
    }

    /* Home Page */
    #animatedText {
        font-size: 4rem;
        line-height: 3rem;
        text-align: start;
    }

    .info h3,
    .info p {
        text-align: start;
    }

    p {
        font-size: 1.2rem;
    }

    h3 {
        font-size: 1.8rem;
        margin-top: 1rem;
        margin-bottom: 1.5rem;
    }

    li {
        font-size: 1.2rem;
        margin-left: 1.2rem;
    }

    section {
        padding: 4rem 1rem 0;
    }

    ol.process-list>li {
        margin-bottom: 2rem;
        margin-left: 1.2rem;
    }

    ol ul li {
        margin-left: 0;
    }

    ul.no-marker>li {
        margin-left: 0;
    }

    section#process-home-page {
        padding: 4rem 1rem 14rem;
    }

    section#features-pg {
        padding: 4rem 1rem 28rem;
    }

    section#process-payment-groups {
        padding: 4rem 1rem 28rem;
    }

    .payment-groups-page section#overview {
        padding: 4rem 1rem 24rem;
    }

    section#features-hp {
        padding: 4rem 1rem 22rem;
    }

    section#process-home-page ol.process-list {
        display: block;
    }

    section#conclusion,
    .home-page section#conclusion,
    .payment-groups-page section#conclusion,
    .design-system-page section#conclusion {
        padding-bottom: 30rem;
    }

    section#process {
        padding: 4rem 1rem 20rem;
    }

    .navigation-block a {
        padding: 1rem 1rem;
    }

    .index-desc {
        text-align: start;
        max-width: 100%;
    }

    .highlighted-list {
        padding: 0;
    }

    .highlighted-list li {
        text-align: left;
        font-size: 1.2rem;
        line-height: 1.6rem;
        margin-left: 0;
    }



    /* Resume */
    .experience h3,
    .experience h4,
    .experience ul {
        padding: 0;
    }

    /* Contact Page */
    .contact-list {
        display: block;
        grid-template-columns: 1fr;
        grid-gap: 1rem;
    }

    .contact-section {
        padding: 8rem 1rem 0;
    }


    /* Image styles */
    img#thumbzone {
        right: 0%;
        top: auto;
        bottom: -1%;
        width: 36%;
        z-index: 1;
    }

    img#panel1 {
        display: none;
    }

    img#panel2 {
        display: none;
    }

    img#panel3 {
        display: none;
    }

    img#component {
        left: -10%;
        bottom: 0%;
        width: 90%;
    }

    img#ds-conc-phone1 {
        right: 4%;
        bottom: 25%;
        width: 25%;
    }

    img#ds-conc-phone2 {
        right: 21%;
        bottom: 19%;
        width: 24%;
    }

    section#highlight {
        padding: 4rem 1rem 12rem;
    }

    img#ds-highlight-tokens {
        right: 0%;
        bottom: -4%;
        width: 100%;
    }

    img#ds-highlight-code {
        display: none;
    }

    /* Home Page */

    img#hp-feat-banners {
        left: 8%;
        bottom: 0;
        width: calc(17vh + 20vw);
    }

    img#hp-feat-banner2 {
        left: 2%;
        bottom: 0;
        width: calc(18vh + 20vw);
    }

    img#hp-feat-phone1 {
        right: 10%;
        bottom: 0;
        width: calc(10vh + 15vw);
    }

    img#hp-feat-phone2 {
        right: 0;
        bottom: 0;
        width: calc(10vh + 15vw);
    }

    img#hp-feat-search {
        left: 13%;
        bottom: 8%;
        width: calc(20vh + 37vw);
    }

    img#hp-conc-cell3 {
        left: 35%;
        bottom: 33%;
        width: calc(12vh + 12vw);
    }

    img#hp-conc-cell2 {
        display: none;
    }

    img#hp-conc-phone1 {
        right: 2%;
        bottom: 16%;
        width: calc(10vh + 10vw);
    }

    img#hp-conc-phone2 {
        left: 2%;
        bottom: 14%;
        width: 30%;
    }

    img#hp-conc-cell1 {
        left: 24%;
        bottom: 26%;
        width: calc(12vh + 12vw);
    }

    img#hp-conc-cell4 {
        right: 20%;
        bottom: 24%;
        width: calc(10vh + 16vw);
    }

    img#hp-conc-tick {
        right: calc(-25% + 50vw);
        bottom: 44%;
        width: 18%;
    }

    /* Payment Groups */

    img#pg-ov-folder {
        left: -2%;
        top: auto;
        bottom: 0%;
        width: calc(14vh + 14vw);
    }

    img#pg-ov-phone1 {
        right: 17%;
        top: auto;
        bottom: 0%;
        width: 45vw;
    }

    img#pg-ov-phone2 {
        right: 1%;
        top: auto;
        bottom: 0%;
        width: 45vw;
    }

    img#pg-proc-section1 {
        left: 21%;
        bottom: 20%;
        width: calc(34vh + 34vw);
    }

    img#pg-proc-section2 {
        right: 20%;
        bottom: 2%;
        width: calc(24vh + 24vw);
    }

    img#pg-proc-tip {
        left: auto;
        right: 2%;
        bottom: 1%;
        width: calc(18vh + 18vw);
    }

    img#pg-feat-cats {
        display: none;
    }

    img#pg-feat-phone1 {
        display: none;
    }

    img#pg-feat-phone2 {
        right: 61%;
        top: auto;
        bottom: 0%;
        width: 35vw;
    }

    img#pg-feat-phone3 {
        right: 35%;
        top: auto;
        bottom: 3%;
        width: 35vw;
        -webkit-filter: drop-shadow(24px 32px 60px #00000088);
        filter: drop-shadow(24px 32px 60px #00000088);
    }

    img#pg-feat-phone4 {
        right: 5%;
        top: auto;
        bottom: 6%;
        width: 35vw;
        -webkit-filter: drop-shadow(24px 32px 60px #00000088);
        filter: drop-shadow(24px 32px 60px #00000088);
    }


    .menu-icon {
        position: relative;
        width: 30px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        z-index: 1001;
    }

    .menu-icon span {
        display: block;
        width: 100%;
        height: 3px;
        background-color: white;
        /* Change to white */
        transition: transform 0.3s ease, opacity 0.3s ease;
    }

    .overlay {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.9);
        overflow-x: hidden;
        transition: opacity 0.5s ease, visibility 0.5s ease;
        /* Add visibility transition */
        opacity: 0;
        visibility: hidden;
        z-index: 1000;
        display: block;
    }

    .overlay.open {
        opacity: 1;
        visibility: visible;
    }

    .overlay-content {
        position: relative;
        width: 100%;
        height: 100vh;
        text-align: center;
        margin-top: 0;
    }

    .overlay-content nav {
        height: 100vh;
    }

    .overlay-content nav ul {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .overlay-content nav ul li {
        margin: 1rem 0;
    }

    .overlay-content nav ul li a {
        color: white;
        font-size: 1.5rem;
        text-decoration: none;
        text-align: center;
        padding: 0.5rem 1rem;
    }

    .overlay-content nav ul .submenu-items {
        border: none;
        position: relative;
        top: auto;
        padding: 2rem 0;
    }

    .overlay-content nav ul .submenu-items li {
        border: none;
        width: 100%;
    }

    .overlay-content .download-button {
        margin-top: 2rem;
        color: white;
        /* Ensure button text is white */
        background-color: #333;
        /* Ensure button background is visible */
    }


    .navigation-block.right:hover a,
    .navigation-block.left:hover a {
        transform: none;
    }

    .navigation-block:hover .arrow-icon,
    .navigation-block.left:hover .arrow-icon {
        opacity: 0;
        transform: none;
    }

    #prototype {
        height: 35vh;
    }

    #ds-prot-backglow {
        width: 110%;
        max-width: none;
    }
}